* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #241c1a;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Added padding for mobile spacing */
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.nav-name {
    font-size: 24px;
    font-weight: bold;
}

main {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    /* Allow wrapping on small screens */
}

.download-button img {
    height: 60px;
    transition: transform 0.3s ease;
}

.download-button img:hover {
    transform: scale(1.1);
}

/* Mobile-first approach */
@media (max-width: 768px) {
    .download-button img {
        height: 50px;
    }

    body {
        padding: 10px;
        /* Less padding on smaller screens */
    }

    header {
        padding: 10px;
        /* Adjust padding for mobile */
    }
}

/* For smaller mobile devices (like portrait phones) */
@media (max-width: 480px) {

    .nav-name {
        font-size: 18px;
        /* Further reduce font size */
    }

    .button-container {
        flex-direction: column;
        /* Stack buttons vertically */
        gap: 15px;
        /* Reduce gap between buttons */
    }

    .download-button img {
        width: 12rem;
        height: auto;
    }

}